html,body{
    margin: 0px;
}

.error {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: #660c00;
    color: #e6ffff;
    overflow: hidden;
    text-align: center;
    
}

.error h1{
    font-family: Arial, sans-serif;
    font-size: 30px;
    color: #ccccee;
    margin-top: 150px;
}
